@model IEnumerable<SimpleFleetManagement.ViewModel.MerkBusViewModel>

<table id="data-list" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MerkId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MerkId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    <input type="button" value="Edit" class="btn btn-warning btn-edit" data-id="@item.Id" />
                    <input type="button" value="Delete" class="btn btn-danger btn-delete" data-id="@item.Id" />
                </td>
            </tr>
        }
    </tbody>
</table>

@Scripts.Render("~/AdminLTE/plugins/datatables/js")

<script type="text/javascript">
    $("#data-list").DataTable({
        "paging": true,
        "lengthChange": true,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false
    });

    $(".btn-edit").click(function () {
        //alert('Idnya adalah : ' + $(this).attr("data-id"));
        $.ajax({
            url: '@Url.Action("Edit", "MerkBus")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $(".modal-body").html(result);
                $(".modal-title").html("Edit Merk");
                $("#modal-form").modal("show");
            }
        });
    });

    $(".btn-delete").click(function () {
        //alert('Idnya adalah : ' + $(this).attr("data-id"));
        $.ajax({
            url: '@Url.Action("Delete", "MerkBus")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $(".modal-body").html(result);
                $(".modal-title").html("Delete Merk");
                $("#modal-form").modal("show");
            }
        });
    });

</script>