@model SimpleFleetManagement.ViewModel.TypeBusViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.MerkId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MerkId, (IEnumerable<SelectListItem>)ViewBag.MerkBusList, "Select Merk", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MerkId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TypeId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TypeId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TypeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsActive)
                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Save Changes" class="btn btn-warning btn-edit-conf" />
                <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
            </div>
        </div>
    </div>
}

    @Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    $(".btn-edit-conf").click(function (){
    var item = {
        Id: $("#Id").val(),
        MerkId: $("#MerkId").val(),
        TypeId: $("#TypeId").val(),
        Description: $("#Description").val(),
        IsActive: $("#IsActive").is(":checked")
    };
        //alert(JSON.stringify(item));
    $.ajax({
        url: '@Url.Action("Edit", "TypeBus")',
        type: 'post',
        data : {model : item},
        success: function (result)
        {
            if (result.success)
            {
                $("#modal-form").modal("hide");
                ShowList();
            }
            else
            {
                alert('Error : ' + result.message);
            }
        }
    });
})
</script>
