@model SimpleFleetManagement.ViewModel.ServiceViewModel

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ServiceId, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.ServiceId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ServiceId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-3" })
            <div id="checkbox" class="col-md-9">
                <div>
                    @Html.EditorFor(model => model.IsActive)
                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>       

        <div class="modal-footer">
                <input type="button" value="Create" class="btn btn-success btn-create-conf" />
                <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
        </div>
    </div>
}

    @Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    $(".btn-create-conf").click(function (){
    var item = {
        Id: 0,
        ServiceId: $("#ServiceId").val(),
        Description: $("#Description").val(),
        IsActive: $("#IsActive").is(":checked")
    };
        //alert(JSON.stringify(item));
    $.ajax({
        url: '@Url.Action("Create", "Service")',
        type: 'post',
        data : {model : item},
        success: function (result)
        {
            if (result.success)
            {
                $("#modal-form").modal("hide");
                ShowList();
            }
            else
            {
                alert('Error : ' + result.message);
            }
        }
    });
})
</script>